<div class="container">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	class="logo" viewBox="0 0 371.2 55.4" style="enable-background:new 0 0 371.2 55.4;" xml:space="preserve">
  	<g>
  		<path class="color-accent" d="M49.1,54.8h-7.5c-0.9,0-1.5-0.2-2-0.6c-0.5-0.4-0.8-0.9-1-1.6l-2.3-11.3H16.1l-5,11.3
  			c-0.3,0.6-0.7,1.1-1.3,1.5c-0.6,0.5-1.3,0.7-2.1,0.7H0L26.2,0.6h9.9L49.1,54.8z M35,34.4l-3.7-18.6c-0.1-0.8-0.3-1.8-0.5-3
  			c-0.2-1.1-0.4-2.3-0.6-3.7c-0.5,1.3-1,2.5-1.5,3.7c-0.5,1.1-0.9,2.1-1.3,3l-8.2,18.5H35z"/>
  		<path class="color-accent" d="M83.3,10.3c-0.4,0.5-0.7,0.9-1,1.1c-0.3,0.2-0.8,0.4-1.3,0.4c-0.5,0-1-0.2-1.5-0.6c-0.5-0.4-1.1-0.8-1.9-1.3
  			C76.9,9.4,76,8.9,75,8.5c-1-0.4-2.2-0.6-3.6-0.6c-1.4,0-2.5,0.2-3.6,0.6c-1,0.4-1.9,1-2.6,1.7c-0.7,0.7-1.3,1.5-1.6,2.5
  			c-0.4,1-0.5,2-0.5,3.1c0,1.2,0.3,2.1,0.9,2.9c0.6,0.8,1.4,1.4,2.3,2c0.9,0.6,2,1.1,3.3,1.5c1.2,0.4,2.5,0.9,3.7,1.4
  			c1.3,0.5,2.5,1.1,3.7,1.7c1.2,0.7,2.3,1.5,3.3,2.4s1.7,2.1,2.3,3.4c0.6,1.3,0.9,3,0.9,4.9c0,2.7-0.5,5.2-1.4,7.5
  			c-0.9,2.4-2.2,4.4-3.9,6.2c-1.7,1.8-3.8,3.2-6.2,4.2c-2.5,1-5.2,1.6-8.2,1.6c-1.6,0-3.1-0.2-4.6-0.5c-1.5-0.3-3-0.8-4.3-1.4
  			c-1.4-0.6-2.6-1.4-3.8-2.3c-1.2-0.9-2.2-1.9-3-2.9l3.4-4.6c0.3-0.3,0.6-0.6,1.1-0.9c0.4-0.2,0.8-0.3,1.3-0.3c0.4,0,0.8,0.1,1.2,0.4
  			c0.4,0.3,0.8,0.6,1.3,0.9c0.5,0.4,1,0.8,1.5,1.2s1.1,0.8,1.8,1.2c0.7,0.4,1.5,0.7,2.4,0.9c0.9,0.3,1.9,0.4,3,0.4
  			c2.9,0,5.1-0.8,6.7-2.4c1.6-1.6,2.4-3.8,2.4-6.6c0-1.3-0.3-2.3-0.9-3.1c-0.6-0.8-1.3-1.5-2.3-2c-1-0.5-2-1-3.2-1.4
  			c-1.2-0.4-2.4-0.8-3.7-1.3c-1.3-0.5-2.5-1-3.7-1.6c-1.2-0.6-2.3-1.4-3.2-2.4c-1-1-1.7-2.1-2.3-3.5c-0.6-1.4-0.9-3.1-0.9-5.2
  			c0-2.3,0.4-4.6,1.3-6.7c0.9-2.1,2.1-4,3.7-5.7c1.6-1.6,3.6-2.9,5.9-3.9c2.3-1,4.9-1.5,7.7-1.5c1.5,0,2.9,0.1,4.3,0.4
  			c1.4,0.3,2.6,0.7,3.8,1.3c1.2,0.5,2.3,1.2,3.2,2c1,0.8,1.8,1.6,2.6,2.5L83.3,10.3z"/>
  		<path class="color-accent" d="M134.9,0.6l-6.7,54.2h-9.8l3-23.8H98.5l-2.9,23.8h-9.8l6.7-54.2h9.8l-2.9,23.5h22.8l2.9-23.5H134.9z"/>
  	</g>
  	<g>
  		<path class="color-white" d="M159,0.6c3.1,0,5.7,0.4,7.9,1.1c2.2,0.7,4,1.8,5.5,3.1c1.4,1.3,2.5,2.9,3.2,4.7c0.7,1.8,1,3.8,1,6
  			c0,2.9-0.5,5.6-1.4,8c-0.9,2.5-2.3,4.6-4.1,6.4c-1.8,1.8-4.1,3.2-6.8,4.2c-2.7,1-5.9,1.5-9.6,1.5h-6.8l-2.4,19.2h-9.7l6.6-54.2H159
  			z M155.6,28c1.9,0,3.6-0.3,5-0.9c1.4-0.6,2.6-1.4,3.5-2.4c0.9-1,1.6-2.3,2-3.7c0.4-1.4,0.7-3,0.7-4.7c0-1.2-0.2-2.3-0.5-3.4
  			c-0.4-1-0.9-1.9-1.6-2.6c-0.7-0.7-1.6-1.3-2.7-1.7c-1.1-0.4-2.4-0.6-3.9-0.6h-6.8L148.8,28H155.6z"/>
  		<path class="color-white" d="M206.1,46.7l-0.9,8.1h-29.5l6.7-54.2h9.7l-5.7,46.2H206.1z"/>
  		<path class="color-white" d="M251.4,54.8h-7.5c-0.8,0-1.5-0.2-2-0.6c-0.5-0.4-0.8-0.9-1-1.6l-2.3-11.3h-20.2l-5,11.3
  			c-0.3,0.6-0.7,1.1-1.3,1.5s-1.3,0.7-2.1,0.7h-7.7l26.2-54.2h9.9L251.4,54.8z M237.2,34.4l-3.7-18.6c-0.2-0.8-0.3-1.8-0.5-3
  			s-0.4-2.3-0.6-3.7c-0.5,1.3-1,2.5-1.5,3.7s-0.9,2.1-1.3,3l-8.2,18.5H237.2z"/>
  		<path class="color-white" d="M277.7,33.6l-2.6,21.2h-9.7l2.6-21.1L253.8,0.6h8.7c0.8,0,1.5,0.2,2,0.6c0.5,0.4,0.8,0.9,1.1,1.6l7,18.8
  			c0.3,0.9,0.6,1.8,0.8,2.7c0.2,0.9,0.4,1.7,0.6,2.5c0.4-0.8,0.8-1.7,1.3-2.5c0.5-0.8,1-1.7,1.5-2.7l11.7-18.8
  			c0.3-0.6,0.8-1.1,1.4-1.5s1.3-0.7,2.1-0.7h8.1L277.7,33.6z"/>
  		<path class="color-white" d="M310.5,8.3l-1.9,15.4h17.1l-0.9,7.5h-17.1l-2,15.8h21.9l-1,7.8H295l6.7-54.2h31.6l-1,7.8H310.5z"/>
  		<path class="color-white" d="M353.5,0.6c3.1,0,5.8,0.3,8,1c2.2,0.7,4.1,1.6,5.5,2.8s2.5,2.6,3.1,4.3c0.7,1.7,1,3.5,1,5.4
  			c0,2.1-0.3,4-0.9,5.9c-0.6,1.9-1.4,3.5-2.5,5c-1.1,1.5-2.5,2.8-4,3.9c-1.6,1.1-3.4,2-5.4,2.6c0.6,0.3,1.1,0.8,1.6,1.3
  			c0.5,0.5,0.9,1.1,1.2,1.8l9.7,20.2H362c-1.7,0-2.8-0.6-3.3-2l-8-17.6c-0.3-0.7-0.7-1.1-1.1-1.4s-1.1-0.4-2-0.4h-3.8l-2.6,21.4h-9.7
  			l6.6-54.2H353.5z M350.2,26.5c1.9,0,3.6-0.3,5-0.8s2.6-1.3,3.5-2.3c0.9-1,1.6-2.1,2.1-3.5c0.5-1.3,0.7-2.8,0.7-4.3
  			c0-2.3-0.7-4.2-2.2-5.5c-1.5-1.3-3.7-2-6.7-2h-5.7l-2.3,18.4H350.2z"/>
  	</g>
  </svg>
  <div class="form-container">
    <div *ngIf="loading" class="loader-container">
      <app-loader></app-loader>
    </div>
    <ng-template [ngIf]="! loading">
      <div class="form-tabs-container">
        <div class="form-tabs">
          <div class="form-tab selected" (click)="updateCursor($event, 'login')">Login</div>
          <div class="form-tab" (click)="updateCursor($event, 'register')">Register</div>
        </div>
        <div class="form-tabs-line">
          <div class="form-tabs-line-cursor" [ngStyle]="{ width: cursorWidth + 'px', 'margin-left': cursorLeft + 'px' }"></div>
        </div>
      </div>
      <ng-template [ngIf]="selectedTab === 'login' && ! resetPassword">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <input type="email" name="email" ngModel required email placeholder="Email">
          <input type="password" name="password" ngModel required minlength="6" placeholder="Password">
          <div class="button-group">
            <button type="button" name="resetPasswordButton" class="button-secondary half-width" (click)="onResetPasswordShow()">Reset Password</button>
            <button type="submit" name="loginButton" class="button-primary half-width" [disabled]="loginForm.invalid">Login</button>
          </div>
        </form>
      </ng-template>
      <ng-template [ngIf]="selectedTab === 'login' && resetPassword">
        <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
          <input type="email" name="email" ngModel required email placeholder="Email">
          <div class="button-group">
            <button type="button" name="cancelButton" class="button-secondary half-width" (click)="onResetPasswordCancel()">Cancel</button>
            <button type="submit" name="requestButton" class="button-primary half-width" [disabled]="resetPasswordForm.invalid">Request</button>
          </div>
        </form>
      </ng-template>
      <ng-template [ngIf]="selectedTab === 'register'">
        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
          <input type="text" name="displayName" ngModel required minlength="3" placeholder="Display name">
          <input type="email" name="email" ngModel required email placeholder="Email">
          <input type="password" name="password" ngModel required minlength="6" placeholder="Password">
          <div class="button-group">
            <button type="submit" name="createAccountButton" class="button-primary full-width" [disabled]="registerForm.invalid">Create Account</button>
          </div>
        </form>
      </ng-template>
    </ng-template>
  </div>
</div>
